@font-face{
	font-family: 'arialMonospaced';
	src: url('../font/arial_monospaced_mt_bold.eot');
	src: local('Arial Monospaced Bold'),
		 local('Arial-Monospaced-Bold'),
		url('../font/arial-monospaced-mt-bold.ttf')
		format('truetype');
	font-weight: bold;
}

body {
	margin:0; 
	padding:0; 
	line-height: 1em; 
	word-spacing:1px; 
	letter-spacing:0.1px; 
	font: 13px Arial, Helvetica,"Lucida Grande", serif; 
	
	color: #000;
}

/*Header*/
.landing {
	width: 800px;
	position: relative;
	padding-bottom: 0px;

}

.center{
	font-family: FreeSerifItalic;
	font-size: 12px;
	color: #000;
	text-align: center !important;
	margin-top: 20px;

}


.title{
	font-size: 80px;
	line-height: auto;
}

#chapter-two{
	font-size: 80px;
}

#index{
	display: none;
}

#sub-title{
	/*font-size: 0.8em;*/
	line-height: 38px;
}

.content {
	width: 600px;
	display: block;

	/*min-height: 700px;*/
	margin-left: auto;
	margin-right: auto;
}

.entry-container{
	/*width: 100%;*/
	/*height:90%;*/
	position: relative;
	display: inline;
	margin-top: 40px;
	/*margin-bottom: 50px;*/
}

iframe{
	/*background: red;*/
	width: 100% !important;
/*	border-style: inset;
	border-color: initial;
	border-image: initial;*/
}

.method-chapter {
	font-family: FreeSerif;
	font-weight: normal;
	font-size: 25px;
	/*line-height: 27px;*/
	/*color: black;*/
	letter-spacing: 0px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 40px;*/
	display: block;
	position: relative;
	/*margin-right: auto;*/
	/*background-color: #FFFFE0;*/
}

.references-wrapper{
	position: relative;
	width: 255px;
	padding-left: 40px;
	padding-right:10px;
	padding-top: 28px;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	clear: left;
	float: left;
	box-sizing: border-box;
	/*overflow: hidden;*/
}

.references-wrapper > div {
	position: absolute;
}
.references-wrapper .caption { font-size: 14px;
	color: #ccc;
	line-height: 19px;}


.references {
	font-size: 14px;
	color: #ccc;
	line-height: 19px;
	margin-bottom: 20px;
}
.references a { 
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

.image-text{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-top: 3px;
}

i{
	font-style: italic;
}

.page-break { page-break-before: always; 
}

/* Links */
a:link, a:visited {
	background: transparent; 
	color:#333; 
	text-decoration:none;
}

a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
	content: " (" attr(href) ") "; font-size: 11px;
}

a[href^="http://"] {color:#000;} 

/*Image*/
img, img a, .more-link a {border:none;}

/*Remove Element*/
/*#logo, #catnavi, .topnavi, .more-link, .navigation, 
#sidebartop, #related, #social, #sponsors, .tabs, #allpost, 
.toolbar, .splitbox, #commentform, #commentabs .idTabs, 
.postmeta-content .comments, #respond h3, .tag, .footerlinks {display:none;}*/

/*Post*/
.post {border-bottom:1px solid #000;}
.postmeta {font-size:10pt; margin-top:10px;}
.postfooter {font-size:10pt; margin-bottom:20px;}

/*Comment Section*/
.commentlist .avatar {float:left; margin-right:10px;}
.commentlist .children {margin-top:10px;}
#comments {page-break-before: always;}

/*Footer*/
#footer {margin-top:10px;}