* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}


@font-face{
	font-family: 'arialMonospaced';
	src: url('../font/arial_monospaced_mt.eot');
	src: local('Arial Monospaced'),
		 local('Arial-Monospaced'),
		url('../font/arial-monospaced-mt.ttf')
		format('truetype');
		}

@font-face{
	font-family: 'arialMonospaced';
	src: url('../font/arial_monospaced_mt_bold.eot');
	src: local('Arial Monospaced Bold'),
		 local('Arial-Monospaced-Bold'),
		url('../font/arial-monospaced-mt-bold.ttf')
		format('truetype');
	font-weight: bold;
}

@font-face{
	font-family: 'FreeSans';
	src: url('../font/FreeSans.woff');
	src: local('Free Sans'),
		 local('Free-Sans'),
		url('../font/FreeSans.otf')
		format('opentype');
}

@font-face{
	font-family: 'FreeSansOblique';
	src: url('../font/FreeSansOblique.woff');
	src: local('Free Sans Oblique'),
		 local('Free-Sans-Oblique'),
		url('../font/FreeSansOblique.otf')
		format('opentype');
}

@font-face{
	font-family: 'FreeSerif';
	src: url('../font/FreeSerif.woff');
	src: local('Free Serif'),
		 local('Free-Serif'),
		url('../font/FreeSerif.otf')
		format('opentype');
}

@font-face{
	font-family: 'FreeSerifItalic';
	src: url('../font/FreeSerifItalic.woff');
	src: local('Free Serif Italic'),
		 local('Free-Serif-Italic'),
		/*url('../font/FreeSerif.otf')*/
		format('opentype');
}

@font-face{
	font-family: 'OpenSans';
	src: url('../font/OpenSans-Light-webfont.woff');
	src: local('Open Sans'),
		 local('Open-Sans'),
		/*url('../font/OpenSans.otf')*/
		format('opentype');
		font-weight: light;
}

@font-face{
	font-family: 'OpenSansItalic';
	src: url('../font/OpenSans-Italic-webfont.woff');
	src: local('Open Sans Italic'),
		 local('Open-Sans-Italic'),
		/*url('../font/OpenSansItalic.otf')*/
		format('opentype');
		font-weight: light;
}

@font-face{
	font-family: 'OpenSansSemibold';
	src: url('../font/OpenSans-Semibold-webfont.woff');
	src: local('Open Sans Semibold'),
		 local('Open-Sans-Semibold'),
		/*url('../font/OpenSansSemibold.otf')*/
		format('opentype');
		font-weight: Semibold;
}

@font-face {
    font-family: 'Liberation-Sans';
    src:url('../font/webfonts_Liberation-Sans/Liberation-Sans.ttf.woff') format('woff'),
        url('../font/webfonts_Liberation-Sans/Liberation-Sans.ttf.svg#Liberation-Sans') format('svg'),
        url('../font/webfonts_Liberation-Sans/Liberation-Sans.ttf.eot'),
        url('../font/webfonts_Liberation-Sans/Liberation-Sans.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica-Oblique';
    src:url('../font/Helvetica-Oblique.woff') format('woff');
    src: local('Helvetica-Oblique'),
		 local('Helvetica Oblique'),
         
    font-weight: normal;
    font-style: italic;
}

body {
	/*font-family: Helvetica;*/
/*	font-family: FreeSerifItalic;*/
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	/*font-size: 40px;*/
	letter-spacing: 0px;
	/*background: black;*/
	height: 100%;
	/*background-color: #87d5ff;
	color: white;*/
}

li{
	list-style: none;
}

/*.navbar{
	position: fixed;
    top: 0;
    right: 0;
    left: 0;
	float: right;
	clear: right;
	text-align: right;
}*/

#index {
	position: fixed;
	top: 0; right: 0;
	width: auto;
	height: auto;

	padding: calc(20px - 0.1em) calc(20px - 1em);
	text-align: right;

	transition: background-color .25s;
	background-color: rgba(255,255,255,0);

}

#index a{
	text-decoration: none;
}

#index * {
	-webkit-user-select: none;
	   -moz-user-select: none;
		-ms-user-select: none;
  			user-select: none;
}

#index ul { display: none }
#index a, #index span { padding: 0.1em 1em }
#index li { padding: 0.2em 0 }
#index li[class] { padding-top: 0.2em }

#index.opened { background-color: rgba(255,255,255,0.7); border-radius: 8px; }
#index.opened > a { 
	/*border-radius: 4px;
	background: #ff0;*/
	/*background: radial-gradient(ellipse at center, rgba(153, 204, 255, 0.3) 0%, 
		rgba(255, 153, 255, 0.25) 30%, 
		rgba(255, 255, 255, 0) 60%);*/
	text-shadow: 1px 1px 10px #fff, 1px 1px 10px rgb(175, 203, 255);
}

#index .part{
	/*font-style: italic;*/
	/*font-size: 0.8em;*/
	color: #ccc;
}

/*.navbar > ul { display: none }
.navbar > ul > li { margin-bottom: 1em;}
.navbar > ul > li > ul,
.navbar > ul > li > div{
	margin-top: 0.1em;
	font-size: 0.7em;
	display: none;
	margin-top: -0.3em;
	
}

.navbar > ul > li li,
.navbar > ul > li div {
	margin-top: -0.1em;
}


.navbar > ul > li.active > ul,
.navbar > ul > li.active> div{
	display: block;
}*/

/*.navbar li {
	margin-left: 0;
	margin-top: -2em;
	color: #000;
}

.navbar a:hover{
	text-decoration: underline;
}

.navbar li.active>a {
	margin-left: 20px;
	color: 0000FF;
}*/

.landing, .instagram {
	/*width: 50%;*/
/*	min-height: 100%;
	-webkit-box-sizing: border-box;*/

}

.landing {
	width: 100%;
	min-width: 1265px;
	position: relative;
	padding-bottom: 0px;
	/*padding: 20px;*/
	height: 155px;
	/*margin-bottom: 40px;*/
	/*position: fixed;
	z-index: 999;
	background-color: #fff; 
	border-bottom: 2px solid #000;*/
	/*background: black;*/


}



.center{
	font-family: FreeSerifItalic;
	font-size: 32px;
	color: #77a6ff;
	text-align: center !important;
	/*text-shadow: : 0px 0px 10px 0px #1E90FF;*/
	margin-top: 20px;
	/*margin-top: 5%;*/
	/*border-top: 5px solid #1E90FF;*/
		background: radial-gradient(ellipse at center, rgba(153, 204, 255, 0.5) 0%, 
		rgba(255, 153, 255, 0.1) 30%, 
		rgba(255, 255, 255, 0) 60%);
}

.center div{
	/*margin-bottom: 20px;*/
}

.title{
	font-family: FreeSerifItalic;
	font-size: 140px;
	line-height: 130px;
	/*margin-bottom: 1em;*/

}

#sub-title{
	font-size: 1.4em;
	line-height: 38px;
	font-family: FreeSerifItalic;
	/*font-family: Helvetica-Oblique;*/
}

.instagram {
	width: 100%;
	/*min-width: 500px;*/

	padding-top: 5px;
/*	border-left: 1px solid;*/
	display: block;
/*	min-width: 50%;*/
	overflow-x: auto;
}

.content {
	width: 38%;
	min-width: 550px;
	/*min-height: 700px;*/
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.entry-container{
	margin-bottom: 50px;
	box-shadow: 0px 0px 15px 0px rgba(255, 153, 255, 0.3);
}

.post{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#epilogue{
	/*background-color: #F7FEE3;*/
}

#chapter-two{
	font-size: 100px;
	letter-spacing: 1px;
	/*height: 100%;*/
}

.method-chapter {
	font-family: FreeSerif;
	font-weight: normal;
	font-size: 25px;
	/*line-height: 27px;*/
	/*color: black;*/
	letter-spacing: 0px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 40px;*/
	display: block;
	position: relative;
	/*margin-right: auto;*/
	/*background-color: #FFFFE0;*/
}

.references-wrapper{
	position: relative;
	width: 255px;
	padding-left: 40px;
	padding-right:10px;
	padding-top: 28px;
	display: inline-block;
	font-family: Helvetica, Arial, sans-serif;
	clear: left;
	float: left;
	box-sizing: border-box;
	/*overflow: hidden;*/
}

.references-wrapper > div {
	position: absolute;
}
.references-wrapper .caption { font-size: 14px;
	color: #ccc;
	line-height: 19px;}


.references {
	font-size: 14px;
	color: #ccc;
	line-height: 19px;
	margin-bottom: 20px;
}
.references a { 
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
}

subtitle{
	font-family: FreeSerifItalic;
	font-size: 21.25px;
	text-align: center;
	display: block;
	text-shadow: 1px 1px 10px #fff, 1px 1px 10px rgb(175, 203, 255);
	/*padding-top: 5px;*/
/*	margin-right: auto;
	margin-left: auto;*/

}

p{
	margin-top: 24px;
	margin-bottom: 24px;
}

a{
	color: #77a6ff;
	font-family: Helvetica, Arial, sans-serif;
	/*font-size: 0.8em;*/
	/*font-family: FreeSerifItalic;*/
}

.references-link{
	/*color: black;*/
	color: #ccc;
	text-decoration: underline !important;
}

i{
	font-style: italic;
	/*font-family: Helvetica, Arial, sans-serif;*/
}

.quote{
	font-family: FreeSerifItalic;
}


.landing a {
	text-decoration: none;
	/*color: black;*/
	letter-spacing: 0px;
}

iframe{
	/*background: red;*/
	width:100% !important;
/*	border-style: inset;
	border-color: initial;
	border-image: initial;*/
}



.instagram a{
	text-decoration: none;
	color: black;
}

.image-container{
/*	width:700px;
	margin-left: 40px;
	margin-bottom: 30px;*/
	/*margin-right: auto;*/
}

.appended-image{
	width:255px;
	box-shadow: 0px 0px 15px 0px rgba(255, 153, 255, 0.3);
	margin-bottom: 5px;
}

/*.image-text{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin-top: 3px;
}*/



